.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}
form {
  margin: 30px 0;
  padding: 30px;
  font-size: 20px;
}
h4 {
  font-size: 30px;
}
ul {
  display: inline-block;
  text-align: left;
}
footer {
  font-size: 12px;
  margin-top: 80px;
}
a {
  color: rgb(39, 36, 66);
}
